body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.container input {
  width: 100%;
  height: 35px;
  font-size: 18px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.button-group {
  display: flex;
  margin-bottom: 10px;
}

.button-group button {
  flex: 1;
  padding: 10px 16px;
  margin: 5px;
  font-size: 16px;
  background-color: #6d7cff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button-group button:hover {
  background-color: #aab2ff;
}

.button-group #deleteAllButton {
  background-color: #ff0000;
}

.button-group #deleteAllButton:hover {
  background-color: #cc0000;
}

.saved-links {
  padding-left: 10px;
  font-size: 14px;
}

.saved-links li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.favicon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}


.link-text {
  display: flex;
  align-items: center;
}

.saved-links a:hover {
  text-decoration: underline;
}

.trash-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

.trash-icon:hover {
  transform: scale(1.2);
}

.alert-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  z-index: 9999;
}

.alert-message {
  font-size: 16px;
  text-align: center;
}



/* Media query for smaller screens */
@media screen and (max-width: 480px) {
  .button-group button {
    flex: auto; /* Adjusted button width for smaller screens */
  }
}
